:root {
    --cell-size: 45px;
    --accent-color: rebeccapurple;
    --border-style: 3px dashed var(--accent-color);
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border-top: var(--border-style);
    border-left: var(--border-style);
}

.row .cell:last-child { /* select the last .cell within each .row */
    border-right: var(--border-style);
}

.row:last-child .cell { /* select every .cell within the last .row */
    border-bottom: var(--border-style);
}
